ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.routerlink {
    margin-top: 0.3rem;
}

li {
    float: left;
}

li .routerlink,
.button {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #fffd6a;
}

.logo {
    width: 3rem;
    margin: 0 auto;
    height: auto;
    float: left;
    vertical-align: middle;
    margin-top: 0.35rem;
}

.button {
    background-color: #DA70D6;
    margin: 0.2rem 0.2rem 0.2rem 0;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #fffd6a;
}